.Pokecard {
  width: 200px;
  height: 250%;
  background-color: lightslategray;
  border: black 2px solid;
}

.Pokecard-electric{
  background-color: yellow;
}

.Pokecard-bug{
  background-color: green;
}

.Pokecard-water{
  background-color: aqua;
}

.Pokecard-fire{
  background-color: brown;
}

.Pokecard-flying{
  background-color: lavenderblush;
}

.Pokecard-poison{
  background-color: blueviolet;
}

.Pokecard-img{
  width: 80%;
  height: auto;
}

.capitalize{
  text-transform: capitalize;
}